<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzkj.hzyp.dao.mybatis.AuserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wzkj.hzyp.entity.AuserInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="empower_phone" property="empowerPhone" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="verify_code" property="verifyCode" jdbcType="VARCHAR" />
    <result column="verdify_code_time" property="verdifyCodeTime" jdbcType="TIMESTAMP" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="CashOutListVO" type="com.wzkj.hzyp.vo.CashOutListVO">
    <result column="jobName" property="jobName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="reward" property="reward" jdbcType="VARCHAR" />
    <result column="entryTime" property="entryTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, age, create_time, del_flag, empower_phone, last_login_time, name, update_time, 
    verify_code, verdify_code_time,open_id
  </sql>

  <select id="getRecommenNumber" resultType="java.lang.Integer" >
    SELECT
	count(*)
    FROM
	b_recevied_info a
    WHERE
	1 = 1
	<if test="aUserId != null and aUserId != ''">
      AND a.a_user_id = #{aUserId}
    </if>

  </select>

  <select id="getEntrySuccessNumber" resultType="java.lang.Integer">
    SELECT
	count(*)
    FROM
	c_entry_info a
    WHERE
	1 = 1
    <if test="aUserId != null and aUserId != ''">
      AND a.a_user_id = #{aUserId}
    </if>
  </select>

  <select id="getNoCashNumber" resultType="java.lang.Integer">
    SELECT
    sum(b.reward)
    FROM
	c_entry_info a
    INNER JOIN b_job_info b ON a.job_id = b.id
    WHERE 1 = 1
    AND a.is_cash = 0
    AND a.over_datetime > TO_DAYS(NOW())
    <if test="aUserId != null and aUserId != ''">
      AND a.a_user_id = #{aUserId}
    </if>
  </select>

  <select id="getTotalMoney" resultType="java.lang.Integer">
    SELECT
	sum(a.amount_money)
    FROM
	a_cashout_info a
    WHERE
	1 = 1
    <if test="aUserId != null and aUserId != ''">
      AND a.a_user_id = #{aUserId}
    </if>
  </select>

  <select id="getChangeJobInfo" resultType="java.util.HashMap">
    SELECT
	sum(b.reward) sumMoney,a.job_id jobId
    FROM
	c_entry_info a
    INNER JOIN b_job_info b ON a.job_id = b.id
    WHERE
    1 = 1
    AND a.over_datetime > TO_DAYS(NOW())
    <if test="aUserId != null and aUserId != ''">
      AND a.a_user_id = #{aUserId}
    </if>
    GROUP BY a.job_id
  </select>

  <select id="getNeedChangeIds" resultType="String">
    SELECT
    a.id
    FROM
	c_entry_info a
    INNER JOIN b_job_info b ON a.job_id = b.id
    WHERE
	1 = 1
	AND a.over_datetime > TO_DAYS(NOW())
    <if test="aUserId != null and aUserId != ''">
      AND a.a_user_id = #{aUserId}
    </if>
  </select>

  <select id="getCashoutList" resultMap="CashOutListVO">
    SELECT
    b.job_name jobName,
    b.reward,
    c.name,
    a.entry_time entryTime
    FROM
    c_entry_info a
    INNER JOIN b_job_info b ON a.job_id = b.id
    LEFT JOIN c_resume_info c ON a.resume_id = c.id
    WHERE
    1 = 1
    <if test="aUserId != null and aUserId !=''">
      AND a.a_user_Id = #{aUserId}
      AND  NOW() > a.over_datetime
      AND a.is_cash = 0
    </if>
    ORDER BY a.entry_time DESC
  </select>

<update id="cashout" >
  UPDATE b_job_info b
  INNER JOIN (
  SELECT
  sum(b.reward) money,
  b.id jobId
  FROM
  c_entry_info a
  INNER JOIN b_job_info b ON a.job_id = b.id
  LEFT JOIN c_resume_info c ON a.resume_id = c.id
  WHERE
  1 = 1
  <if test="aUserId != null and aUserId != ''">
    AND a.a_user_Id = #{aUserId}
  </if>
  <![CDATA[ AND a.over_datetime < NOW() ]]>
  AND a.is_cash = 0
  GROUP BY
  b.id
  ) x ON b.id = x.jobId
  SET b.total_amount = b.total_amount - x.money
</update>
  <update id="ss">
    update 	c_entry_info a SET a.is_cash = 1 WHERE a.id in (SELECT id FROM(
    SELECT
    a.id
    FROM
    c_entry_info a
    INNER JOIN b_job_info b ON a.job_id = b.id
    LEFT JOIN c_resume_info c ON a.resume_id = c.id
    WHERE
    1 = 1
    <if test="aUserId != null and aUserId != ''">
      AND a.a_user_Id = #{aUserId}
    </if>
    <![CDATA[ AND a.over_datetime < NOW() ]]>
    AND a.is_cash = 0) x )
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from a_user_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from a_user_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wzkj.hzyp.entity.AuserInfo" >
    insert into a_user_info (id, age, create_time, 
      del_flag, empower_phone, last_login_time, 
      name, update_time, verify_code, 
      verdify_code_time,open_id)
    values (#{id,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=INTEGER}, #{empowerPhone,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{verifyCode,jdbcType=VARCHAR}, 
      #{verdifyCodeTime,jdbcType=TIMESTAMP}, #{openId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wzkj.hzyp.entity.AuserInfo" >
    insert into a_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="empowerPhone != null" >
        empower_phone,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="verifyCode != null" >
        verify_code,
      </if>
      <if test="verdifyCodeTime != null" >
        verdify_code_time,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="empowerPhone != null" >
        #{empowerPhone,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyCode != null" >
        #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="verdifyCodeTime != null" >
        #{verdifyCodeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzkj.hzyp.entity.AuserInfo" >
    update a_user_info
    <set >
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="empowerPhone != null" >
        empower_phone = #{empowerPhone,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyCode != null" >
        verify_code = #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="verdifyCodeTime != null" >
        verdify_code_time = #{verdifyCodeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzkj.hzyp.entity.AuserInfo" >
    update a_user_info
    set age = #{age,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=INTEGER},
      empower_phone = #{empowerPhone,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      verify_code = #{verifyCode,jdbcType=VARCHAR},
      verdify_code_time = #{verdifyCodeTime,jdbcType=TIMESTAMP},
      open_id = #{openId,jdbcType=VARCHAR},
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>