<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzkj.hzyp.dao.mybatis.JobInfoMapper">
    <resultMap id="BaseResultMap" type="com.wzkj.hzyp.entity.JobInfo">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="b_store_id" property="bStoreId" jdbcType="VARCHAR"/>
        <result column="b_user_id" property="bUserId" jdbcType="VARCHAR"/>
        <result column="industry_code" property="industryCode" jdbcType="VARCHAR"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="education_degree" property="educationDegree" jdbcType="INTEGER"/>
        <result column="work_experience" property="workExperience" jdbcType="INTEGER"/>
        <result column="age_min" property="ageMin" jdbcType="INTEGER"/>
        <result column="age_max" property="ageMax" jdbcType="INTEGER"/>
        <result column="probation" property="probation" jdbcType="INTEGER"/>
        <result column="trial_time" property="trialTime" jdbcType="VARCHAR"/>
        <result column="trial_salary" property="trialSalary" jdbcType="VARCHAR"/>
        <result column="official_salary" property="officialSalary" jdbcType="VARCHAR"/>
        <result column="avg_salary" property="avgSalary" jdbcType="VARCHAR"/>
        <result column="interview_time" property="interviewTime" jdbcType="VARCHAR"/>
        <result column="reward" property="reward" jdbcType="INTEGER"/>
        <result column="overtime" property="overtime" jdbcType="INTEGER"/>
        <result column="total_amount" property="totalAmount" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="recevied_resume_number" property="receviedResumeNumber" jdbcType="INTEGER"/>
        <result column="total_resume_number" property="totalResumeNumber" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="label" property="label" jdbcType="INTEGER"/>
        <result column="is_pay" property="isPay" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="JobInfoVO" type="com.wzkj.hzyp.vo.JobInfoVO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="b_store_id" property="bStoreId" jdbcType="VARCHAR"/>
        <result column="b_user_id" property="bUserId" jdbcType="VARCHAR"/>
        <result column="industry_code" property="industryCode" jdbcType="VARCHAR"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="education_degree" property="educationDegree" jdbcType="INTEGER"/>
        <result column="work_experience" property="workExperience" jdbcType="INTEGER"/>
        <result column="age_min" property="ageMin" jdbcType="INTEGER"/>
        <result column="age_max" property="ageMax" jdbcType="INTEGER"/>
        <result column="probation" property="probation" jdbcType="INTEGER"/>
        <result column="trial_time" property="trialTime" jdbcType="VARCHAR"/>
        <result column="trial_salary" property="trialSalary" jdbcType="VARCHAR"/>
        <result column="official_salary" property="officialSalary" jdbcType="VARCHAR"/>
        <result column="avg_salary" property="avgSalary" jdbcType="VARCHAR"/>
        <result column="interview_time" property="interviewTime" jdbcType="VARCHAR"/>
        <result column="reward" property="reward" jdbcType="INTEGER"/>
        <result column="overtime" property="overtime" jdbcType="INTEGER"/>
        <result column="total_amount" property="totalAmount" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="recevied_resume_number" property="receviedResumeNumber" jdbcType="INTEGER"/>
        <result column="total_resume_number" property="totalResumeNumber" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="label" property="label" jdbcType="INTEGER"/>
        <result column="is_pay" property="isPay" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="logo" property="logo" jdbcType="VARCHAR"/>
        <result column="storeName" property="storeName" jdbcType="VARCHAR"/>
        <result column="recriptTime" property="recriptTime" jdbcType="TIMESTAMP"/>
        <result column="collectionJobStatus" property="collectionJobStatus" jdbcType="INTEGER"/>

    </resultMap>
    <sql id="Base_Column_List">
    id, b_store_id, b_user_id, industry_code, job_name, description, num, education_degree, 
    work_experience, age_min,age_max, probation, trial_time, trial_salary, official_salary, avg_salary,
    interview_time, reward, overtime, total_amount, status, del_flag, recevied_resume_number, 
    total_resume_number, create_time, update_time, label,is_pay
  </sql>

    <select id="getJobList" resultMap="JobInfoVO" >
        SELECT
        a.id,
        a.job_name jobName,
        a.num,
        a.description,
        a.age_min ageMin,
        a.age_max ageMax,
        a.education_degree educationDegree,
        a.work_experience workExpenience,
        a.probation,
        a.trial_time trialTime,
        a.trial_salary trialSalary,
        a.official_salary officialSalary,
        a.avg_salary avgSalary,
        a.reward,
        a.interview_time interviewTime,
        a.overtime,
        a. status,
        a.create_time createTime,
        a.label,
        b.address,
        b.logo
        FROM
        b_job_info a
        LEFT JOIN b_store_info b ON a.b_store_id = b.id
        WHERE
        a.del_flag = 0
        AND a.`status` = 1
        <if test="keyWord != null and keyWord !=''">
            AND a.job_name LIKE "%"#{keyWord}"%" OR b.name LIKE "%"#{keyWord}"%"
        </if>

        <if test="label != null">
            AND a.label = #{label}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <select id="jobDetail" resultMap="JobInfoVO">
        SELECT
        a.id,
        a.job_name jobName,
        a.num,
        a.description,
        a.age_min ageMin,
        a.age_max ageMax,
        a.education_degree educationDegree,
        a.work_experience workExpenience,
        a.probation,
        a.trial_time trialTime,
        a.trial_salary trialSalary,
        a.official_salary officialSalary,
        a.avg_salary avgSalary,
        a.reward,
        a.interview_time interviewTime,
        a.overtime,
        a. status,
        a.create_time createTime,
        a.label,
        b.address,
        b.logo,
        b.name storeName
        FROM
        b_job_info a
        LEFT JOIN b_store_info b ON a.b_store_id = b.id
        WHERE
        a.del_flag = 0
        <if test="id != null and id != ''">
            AND a.id = #{id}
        </if>
    </select>

    <select id="collectionJobList" resultMap="JobInfoVO">
        SELECT
        a.id,
        a.job_name jobName,
        a.num,
        a.description,
        a.age_min ageMin,
        a.age_max ageMax,
        a.education_degree educationDegree,
        a.work_experience workExpenience,
        a.probation,
        a.trial_time trialTime,
        a.trial_salary trialSalary,
        a.official_salary officialSalary,
        a.avg_salary avgSalary,
        a.reward,
        a.interview_time interviewTime,
        a.overtime,
        a. status,
        a.create_time createTime,
        a.label,
        b.create_time recriptTime,
        b.status collectionJobStatus,c.address,
        c.logo
        FROM  b_job_info a
        INNER JOIN a_collection_job_info b ON a.id = b.job_id
        LEFT JOIN b_store_info c ON a.b_store_id = c.id
        WHERE 1 = 1
        <if test="aUserId != null and aUserId != ''">
          AND b.a_user_id = #{aUserId}
        </if>

        <if test="status != null">
            AND b.status = #{status}
        </if>
        ORDER BY b.create_time DESC
    </select>

    <select id="publishJobList" resultMap="JobInfoVO">
        SELECT
        a.id,
        a.job_name jobName,
        a.num,
        a.description,
        a.age_min ageMin,
        a.age_max ageMax,
        a.education_degree educationDegree,
        a.work_experience workExpenience,
        a.probation,
        a.trial_time trialTime,
        a.trial_salary trialSalary,
        a.official_salary officialSalary,
        a.avg_salary avgSalary,
        a.reward,
        a.interview_time interviewTime,
        a.overtime,
        a. status,
        a.create_time createTime,
        a.label,
        b.address
        FROM
	    b_job_info a
        INNER JOIN b_store_info b ON a.b_store_id = b.id
        WHERE 1 = 1
        <if test="bUserId != null and bUserId != ''">
            AND a.b_user_id = #{bUserId}
        </if>
        <if test="jobName != null and jobName != ''">
            AND a.job_name = #{jobName}
        </if>
        <if test="status != null">
            AND a.status = #{status}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from b_job_info
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from b_job_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>

</mapper>